<div class="wholeblock" ng-controller="addFeeCtrl as ctrl">
  <form>
    <h1>Add Fee:</h1>
    <div class="row form-group">
      <div class="col-md-3">
        <label for="name">Fee name:</label>
      </div>
      <div class="col-md-9">
        <input class="form-control" id="name" type="text" ng-model="ctrl.formFee.name"></input>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-3">
        <label for="cost">Cost:</label>
      </div>
      <div class="col-md-9">
        <input class="form-control" id="cost" type="text" ng-model="ctrl.formFee.feeCost"></input>
      </div>
    </div>
    <div class="row form-group" >
      <div class="col-md-3">
        <label for="description">Description:</label>
      </div>
      <div class="col-md-9">
        <input class="form-control" id="description" type="text" ng-model="ctrl.formFee.feeDescription"></input>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <input class="btn btn-primary" type="button" ng-click="ctrl.sendToBackend()" value="Add" id="submitButton">
      </div>
    </div>
  </form>
</div>