<div ng-controller="UserExpensesCtrl as ctrl">
    <!--<input type="button" ng-click="ctrl.fetchExpenses()">-->

    <h1 >Current user expenses:</h1>
    <div class="row">
        <table class="table-striped col-lg-12">
            <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Date
                </th>
                <th>
                    Cost
                </th>
                <th>
                    Description
                </th>
            </tr>
            </thead>
            <tr ng-repeat="element in ctrl.userExpenses">
                <td>{{element.id}}</td>
                <td>{{element.name}}</td>
                <td>{{element.expenseDate}}</td>
                <td>{{element.expenseCost}}</td>
                <td>{{element.expenseDescription}}</td>
                <td><button ng-click="ctrl.removeExpense(element.id)">delete</button></td>
                <td><button ng-click="ctrl.editExpense(element.id)">edit</button></td>
            </tr>
        </table>

        <div ng-controller="editExpenseCtrl as ectrl">
            <form>
                <h1>Add Expense:</h1>
                <div class="row form-group">
                    <div class="col-md-3">
                        <label for="name">Expense name:</label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control" id="name" type="text" ng-model="element.name"></input>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-3">
                        <label for="cost">Cost:</label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control" id="cost" type="text" ng-model="ectrl.formExpense.cost"></input>
                    </div>
                </div>
                <div class="row form-group" >
                    <div class="col-md-3">
                        <label for="description">Description:</label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control" id="description" type="text" ng-model="ectrl.formExpense.description"></input>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        <input class="form-control" type="button" ng-click="ctrl.sendToBackend()" value="Add">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>