<div ng-controller="View1Ctrl as ctrl">
    <!--<input type="button" ng-click="ctrl.fetchExpenses()">-->

    <h1 >Current user expenses:</h1>
    <div class="row">
        <table class="table-striped col-lg-12">
            <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Date
                </th>
                <th>
                    Cost
                </th>
                <th>
                    Description
                </th>
            </tr>
            </thead>
            <tr ng-repeat="element in ctrl.userExpenses">

                <td>{{element.name}}</td>
                <td>{{element.expenseDate}}</td>
                <td>{{element.expenseCost}}</td>
                <td>{{element.expenseDescription}}</td>

            </tr>
        </table>
    </div>
</div>