<div class="wholeblock" ng-controller="addRepairCtrl as ctrl">
  <form>
    <h1>Add Repair:</h1>
    <div class="row form-group">
      <div class="col-md-3">
        <label for="name">Repair name:</label>
      </div>
      <div class="col-md-9">
        <input class="form-control" id="name" type="text" ng-model="ctrl.formRepair.name"></input>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-3">
        <label for="name">Workshop:</label>
      </div>
      <div class="col-md-9">
        <input class="form-control" id="workshop" type="text" ng-model="ctrl.formRepair.workshop"></input>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-3">
        <label for="cost">Cost:</label>
      </div>
      <div class="col-md-9">
        <input class="form-control" id="cost" type="text" ng-model="ctrl.formRepair.repairCost"></input>
      </div>
    </div>
    <div class="row form-group" >
      <div class="col-md-3">
        <label for="description">Description:</label>
      </div>
      <div class="col-md-9">
        <input class="form-control" id="description" type="text" ng-model="ctrl.formRepair.repairDescription"></input>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <input class="btn btn-primary" type="button" ng-click="ctrl.sendToBackend()" value="Add" id="submitButton">
      </div>
    </div>
  </form>
</div>