<div class="bloooock" ng-controller="MainCtrl as ctrl">
    <form>
        <h1 align="center">WELCOME</h1>


        <div class="row form-group">
            <div class="col-md-3"></div>
            <div class="col-md-3">


                <input class="btn-lg btn-primary" type="button" ng-click="ctrl.redirectToLogin()" value="Login">
            </div>


            <div class="col-md-3"></div>
            <div class="col-md-3">
                <input class="btn-lg btn-primary" type="button" ng-click="ctrl.redirectToRegister()" value="Register">
            </div>
        </div>

    </form>
</div>
