<div ng-controller="UserRepairsCtrl as ctrl">
    <!--<input type="button" ng-click="ctrl.fetchRepairs()">-->

    <h1 >Current user repairs:</h1>
    <div class="row">
        <table class="table-striped col-lg-12">
            <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Workshop
                </th>
                <th>
                    Date
                </th>
                <th>
                    Cost
                </th>
                <th>
                    Description
                </th>
            </tr>
            </thead>
            <tr ng-repeat="element in ctrl.userRepairs">
                <td>{{element.id}}</td>
                <td>{{element.name}}</td>
                <td>{{element.workshop}}</td>
                <td>{{element.repairDate}}</td>
                <td>{{element.repairCost}}</td>
                <td>{{element.repairDescription}}</td>
                <td><button ng-click="ctrl.removeRepair(element.id)">delete</button></td>
                <td><button ng-click="ctrl.editRepair(element.id)">edit</button></td>
            </tr>
        </table>

    
    </div>
</div>